{% extends 'base.html' %}

{% block content %}

<ul>
  <h3>Items page</h3>
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Category</th>
            <th scope="col">Price (Lei)</th>
          </tr>
        </thead>
        <tbody>
        {% for item in items %}
          <tr>
            <td><a href='/item_history/{{item.name}}'>{{item.name}}</a></td>
            <td>{{item.item_type}}</td>
            <td>{{item.current_price}}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
</ul>
{% endblock %}


